/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6e5e4;
    margin: 20px auto;
}

.addtask {
    width: 100%;
    max-width: 700px;
    margin: auto;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 35px;
    padding-top: 20px;
    margin: auto;
    text-align: center;

}

.addtask p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 18px;
    padding-top: 50px;
    margin: 30px auto;
    text-align: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6532;
    font-size: 22px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    height: 38px;

}

input {
    flex: 1;
    padding: 10px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 30px;
}

button {
    background-color: #3E593B;
    color: #FEF8F2;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    color: #999999;
    font-size: 14px;
}

#list {
    display: inline-block;
    margin: auto;
}

#id {
    display: none;
}

#ul {
    display: none;
    justify-content: center;
    max-width: 600px;
    border: #3E593B solid 1px;
    margin: 20px auto;
}

/* ul li span {
    position: absolute;
    right: 0;
    top: 5px; 
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #5D6532;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover {
    background-color: #999999;
}  */

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;

}

.delete-btn:hover {
    color: darkred;
    background-color: #999999;
}