/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6e5e4;
    margin: auto;
}
h1 {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #5D6532;
    font-size: 35px;
    padding-top: 50px;
    margin: auto;
    text-align: center;

}

p {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #5D6532;
    font-size: 18px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #5D6532;
    font-size: 22px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    text-align: center;
}
#todolist {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
    background-color: #ffffff;
    color: #555555;
    font-size: 18px;
    border-radius: 50px;
    margin: 30px auto;
    width: 600px;

}
#button {
    display: flex;
    align-items: center;
    background-color: #3E593B;
    color: #FEF8F2;
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    text-align: center;
    color: #999999;
    font-size: 14px;;
}

.todolist {
    display: flex;
}